# Recursively calculate the size of the current directory, without crossing
# filesystem boundaries.  Results are sorted ascending.
function cds {
	du=""
	sort=""
	case "$OSTYPE" in
		darwin*)
			du="gdu"
			sort="gsort"
			;;
		linux*)
			du="du"
			sort="sort"
			;;
		*)
			echo "wut"
			;;
	esac
	if [[ -n "${du}" ]] && [[ -n "${sort}" ]]; then
		exec ${du} -ckshx .[!.]* * 2>/dev/null | ${sort} -h
	fi
}

function dra {
	docker-compose run app $@
}

# Sets up a tmux session based on the current directory
function tdev {
	name=$1
	if [[ -z $1 ]]; then
		name=${PWD##*/}
	fi
	tmux new -s "$name" -n code -d
	tmux split-window -v -p 20
	tmux split-window -h -p 50
	tmux select-pane -t 0
	tmux send-keys "vim" C-m
	tmux attach-session -t "$name"
}

function parse_git_dirty {
	[[ $(git status --porcelain 2> /dev/null | tail -n1) != "" ]] && echo "*"
}

function parse_git_branch {
	git branch --no-color 2> /dev/null | sed -e '/^[^*]/d' -e "s/* \(.*\)/[\1$(parse_git_dirty)] /"
}

function get_git_status {
	branch=$(git branch --no-color 2> /dev/null | sed -e '/^[^*]/d' -e "s/* \(.*\)/\1/")
	if [[ -z $branch ]]; then
		echo ""
	else
		pre=""
		post=""
		if [[ $(git status --porcelain 2> /dev/null | tail -n1) != "" ]]; then
			pre="\001\033[33m\002"
			post="*"
		else
			pre="\001\033[32m\002"
		fi
		echo -e "\001\033[1;32m\002[\001\033[0m\003$pre$branch$post\001\033[1;32m\002] \001\033[0m\002"
	fi
}

function abspath {
	dir=$1
	if [[ -d "$dir" ]]; then
		(cd "$dir"; pwd)
	elif [[ -f "$dir" ]]; then
		filename=$(basename $dir)
		dir=$(abspath $(dirname $dir))
		if [[ $? -eq 0 ]]; then
			echo "$dir/$filename"
		else
			exit 1
		fi
	else
		echo "File not found: $dir"
		exit 1
	fi
}

# vim: set ft=sh:
