Xfg.autohint: 0

! #include ".xthemes/base16-google"
! #include ".xthemes/base16-3024.dark.xresources"
! #include ".xthemes/base16-apathy.dark.xresources"
! #include ".xthemes/base16-ashes.dark.xresources"
! #include ".xthemes/base16-atelierdune.dark.xresources"
! #include ".xthemes/base16-atelierforest.dark.xresources"
! #include ".xthemes/base16-atelierheath.dark.xresources"
! #include ".xthemes/base16-atelierlakeside.dark.xresources"
! #include ".xthemes/base16-atelierseaside.dark.xresources"
! #include ".xthemes/base16-bespin.dark.xresources"
! #include ".xthemes/base16-brewer.dark.xresources"
! #include ".xthemes/base16-bright.dark.xresources"
! #include ".xthemes/base16-chalk.dark.xresources"
! #include ".xthemes/base16-codeschool.dark.xresources"
! #include ".xthemes/base16-colors.dark.xresources"
! #include ".xthemes/base16-default.dark.xresources"
! #include ".xthemes/base16-eighties.dark.xresources"
! #include ".xthemes/base16-embers.dark.xresources"
! #include ".xthemes/base16-flat.dark.xresources"
! #include ".xthemes/base16-google.dark.xresources"
! #include ".xthemes/base16-grayscale.dark.xresources"
! #include ".xthemes/base16-greenscreen.dark.xresources"
! #include ".xthemes/base16-harmonic16.dark.xresources"
! #include ".xthemes/base16-isotope.dark.xresources"
! #include ".xthemes/base16-londontube.dark.xresources"
! #include ".xthemes/base16-marrakesh.dark.xresources"
! #include ".xthemes/base16-mocha.dark.xresources"
! #include ".xthemes/base16-monokai.dark.xresources"
! #include ".xthemes/base16-ocean.dark.xresources"
! #include ".xthemes/base16-paraiso.dark.xresources"
! #include ".xthemes/base16-railscasts.dark.xresources"
! #include ".xthemes/base16-shapeshifter.dark.xresources"
! #include ".xthemes/base16-solarized.dark.xresources"
! #include ".xthemes/base16-summerfruit.dark.xresources"
! #include ".xthemes/base16-tomorrow.dark.xresources"
#include ".xthemes/base16-twilight.dark.xresources"

*ttyModes: erase ^?

XTerm*faceName: Droid Sans Mono for Powerline
XTerm*boldMode: false
XTerm*colorBDMode: true
XTerm*colorBD: rgb:fc/fc/fc
XTerm*iconHint: /home/josh/.local/share/pixmaps/terminal.xpm
XTerm*selectToClipboard: true

rofi.color-enabled: true
rofi.separator-style: solid
rofi.sidebar-mode: false
rofi.bw: 2
rofi.padding: 16
rofi.font: SFNS Display 18
rofi.opacity: 75
rofi.color-normal: base03, base06, base03, base0F, base07
rofi.color-active: base0D, base06, base0D, base0F, base06
rofi.color-urgent: base0D, base06, base0D, base0F, base06
rofi.color-window: base03, base06

yeahconsole*toggleKey: Alt+F1

#include ".Xresources.d/xterm-font-size"
