g.autohint: 0

! #include ".xthemes/base16-3024-256.Xresources"
! #include ".xthemes/base16-3024.dark.xresources"
! #include ".xthemes/base16-3024.Xresources"
! #include ".xthemes/base16-apathy-256.Xresources"
! #include ".xthemes/base16-apathy.dark.xresources"
! #include ".xthemes/base16-apathy.Xresources"
! #include ".xthemes/base16-ashes-256.Xresources"
! #include ".xthemes/base16-ashes.dark.xresources"
! #include ".xthemes/base16-ashes.Xresources"
! #include ".xthemes/base16-atelier-cave-256.Xresources"
! #include ".xthemes/base16-atelier-cave-light-256.Xresources"
! #include ".xthemes/base16-atelier-cave-light.Xresources"
! #include ".xthemes/base16-atelier-cave.Xresources"
! #include ".xthemes/base16-atelier-dune-256.Xresources"
! #include ".xthemes/base16-atelierdune.dark.xresources"
! #include ".xthemes/base16-atelier-dune-light-256.Xresources"
! #include ".xthemes/base16-atelier-dune-light.Xresources"
! #include ".xthemes/base16-atelier-dune.Xresources"
! #include ".xthemes/base16-atelier-estuary-256.Xresources"
! #include ".xthemes/base16-atelier-estuary-light-256.Xresources"
! #include ".xthemes/base16-atelier-estuary-light.Xresources"
! #include ".xthemes/base16-atelier-estuary.Xresources"
! #include ".xthemes/base16-atelier-forest-256.Xresources"
! #include ".xthemes/base16-atelierforest.dark.xresources"
! #include ".xthemes/base16-atelier-forest-light-256.Xresources"
! #include ".xthemes/base16-atelier-forest-light.Xresources"
! #include ".xthemes/base16-atelier-forest.Xresources"
! #include ".xthemes/base16-atelier-heath-256.Xresources"
! #include ".xthemes/base16-atelierheath.dark.xresources"
! #include ".xthemes/base16-atelier-heath-light-256.Xresources"
! #include ".xthemes/base16-atelier-heath-light.Xresources"
! #include ".xthemes/base16-atelier-heath.Xresources"
! #include ".xthemes/base16-atelier-lakeside-256.Xresources"
! #include ".xthemes/base16-atelierlakeside.dark.xresources"
! #include ".xthemes/base16-atelier-lakeside-light-256.Xresources"
! #include ".xthemes/base16-atelier-lakeside-light.Xresources"
! #include ".xthemes/base16-atelier-lakeside.Xresources"
! #include ".xthemes/base16-atelier-plateau-256.Xresources"
! #include ".xthemes/base16-atelier-plateau-light-256.Xresources"
! #include ".xthemes/base16-atelier-plateau-light.Xresources"
! #include ".xthemes/base16-atelier-plateau.Xresources"
! #include ".xthemes/base16-atelier-savanna-256.Xresources"
! #include ".xthemes/base16-atelier-savanna-light-256.Xresources"
! #include ".xthemes/base16-atelier-savanna-light.Xresources"
! #include ".xthemes/base16-atelier-savanna.Xresources"
! #include ".xthemes/base16-atelier-seaside-256.Xresources"
! #include ".xthemes/base16-atelierseaside.dark.xresources"
! #include ".xthemes/base16-atelier-seaside-light-256.Xresources"
! #include ".xthemes/base16-atelier-seaside-light.Xresources"
! #include ".xthemes/base16-atelier-seaside.Xresources"
! #include ".xthemes/base16-atelier-sulphurpool-256.Xresources"
! #include ".xthemes/base16-atelier-sulphurpool-light-256.Xresources"
! #include ".xthemes/base16-atelier-sulphurpool-light.Xresources"
! #include ".xthemes/base16-atelier-sulphurpool.Xresources"
! #include ".xthemes/base16-atlas-256.Xresources"
! #include ".xthemes/base16-atlas.Xresources"
! #include ".xthemes/base16-bespin-256.Xresources"
! #include ".xthemes/base16-bespin.dark.xresources"
! #include ".xthemes/base16-bespin.Xresources"
! #include ".xthemes/base16-black-metal-256.Xresources"
! #include ".xthemes/base16-black-metal-bathory-256.Xresources"
! #include ".xthemes/base16-black-metal-bathory.Xresources"
! #include ".xthemes/base16-black-metal-burzum-256.Xresources"
! #include ".xthemes/base16-black-metal-burzum.Xresources"
! #include ".xthemes/base16-black-metal-dark-funeral-256.Xresources"
! #include ".xthemes/base16-black-metal-dark-funeral.Xresources"
! #include ".xthemes/base16-black-metal-gorgoroth-256.Xresources"
! #include ".xthemes/base16-black-metal-gorgoroth.Xresources"
! #include ".xthemes/base16-black-metal-immortal-256.Xresources"
! #include ".xthemes/base16-black-metal-immortal.Xresources"
! #include ".xthemes/base16-black-metal-khold-256.Xresources"
! #include ".xthemes/base16-black-metal-khold.Xresources"
! #include ".xthemes/base16-black-metal-marduk-256.Xresources"
! #include ".xthemes/base16-black-metal-marduk.Xresources"
! #include ".xthemes/base16-black-metal-mayhem-256.Xresources"
! #include ".xthemes/base16-black-metal-mayhem.Xresources"
! #include ".xthemes/base16-black-metal-nile-256.Xresources"
! #include ".xthemes/base16-black-metal-nile.Xresources"
! #include ".xthemes/base16-black-metal-venom-256.Xresources"
! #include ".xthemes/base16-black-metal-venom.Xresources"
! #include ".xthemes/base16-black-metal.Xresources"
! #include ".xthemes/base16-brewer-256.Xresources"
! #include ".xthemes/base16-brewer.dark.xresources"
! #include ".xthemes/base16-brewer.Xresources"
! #include ".xthemes/base16-bright-256.Xresources"
! #include ".xthemes/base16-bright.dark.xresources"
! #include ".xthemes/base16-bright.Xresources"
! #include ".xthemes/base16-brogrammer-256.Xresources"
! #include ".xthemes/base16-brogrammer.Xresources"
! #include ".xthemes/base16-brushtrees-256.Xresources"
! #include ".xthemes/base16-brushtrees-dark-256.Xresources"
! #include ".xthemes/base16-brushtrees-dark.Xresources"
! #include ".xthemes/base16-brushtrees.Xresources"
! #include ".xthemes/base16-chalk-256.Xresources"
! #include ".xthemes/base16-chalk.dark.xresources"
! #include ".xthemes/base16-chalk.Xresources"
! #include ".xthemes/base16-circus-256.Xresources"
! #include ".xthemes/base16-circus.Xresources"
! #include ".xthemes/base16-classic-dark-256.Xresources"
! #include ".xthemes/base16-classic-dark.Xresources"
! #include ".xthemes/base16-classic-light-256.Xresources"
! #include ".xthemes/base16-classic-light.Xresources"
! #include ".xthemes/base16-codeschool-256.Xresources"
! #include ".xthemes/base16-codeschool.dark.xresources"
! #include ".xthemes/base16-codeschool.Xresources"
! #include ".xthemes/base16-colors.dark.xresources"
! #include ".xthemes/base16-cupcake-256.Xresources"
! #include ".xthemes/base16-cupcake.Xresources"
! #include ".xthemes/base16-cupertino-256.Xresources"
! #include ".xthemes/base16-cupertino.Xresources"
! #include ".xthemes/base16-darktooth-256.Xresources"
! #include ".xthemes/base16-darktooth.Xresources"
! #include ".xthemes/base16-decaf-256.Xresources"
! #include ".xthemes/base16-decaf.Xresources"
! #include ".xthemes/base16-default-dark-256.Xresources"
! #include ".xthemes/base16-default.dark.xresources"
! #include ".xthemes/base16-default-dark.Xresources"
! #include ".xthemes/base16-default-light-256.Xresources"
! #include ".xthemes/base16-default-light.Xresources"
! #include ".xthemes/base16-dracula-256.Xresources"
! #include ".xthemes/base16-dracula.Xresources"
! #include ".xthemes/base16-edge-dark-256.Xresources"
! #include ".xthemes/base16-edge-dark.Xresources"
! #include ".xthemes/base16-edge-light-256.Xresources"
! #include ".xthemes/base16-edge-light.Xresources"
! #include ".xthemes/base16-eighties-256.Xresources"
! #include ".xthemes/base16-eighties.dark.xresources"
! #include ".xthemes/base16-eighties.Xresources"
! #include ".xthemes/base16-embers-256.Xresources"
! #include ".xthemes/base16-embers.dark.xresources"
! #include ".xthemes/base16-embers.Xresources"
! #include ".xthemes/base16-espresso-256.Xresources"
! #include ".xthemes/base16-espresso.Xresources"
! #include ".xthemes/base16-flat-256.Xresources"
! #include ".xthemes/base16-flat.dark.xresources"
! #include ".xthemes/base16-flat.Xresources"
! #include ".xthemes/base16-framer-256.Xresources"
! #include ".xthemes/base16-framer.Xresources"
! #include ".xthemes/base16-fruit-soda-256.Xresources"
! #include ".xthemes/base16-fruit-soda.Xresources"
! #include ".xthemes/base16-gigavolt-256.Xresources"
! #include ".xthemes/base16-gigavolt.Xresources"
! #include ".xthemes/base16-github-256.Xresources"
! #include ".xthemes/base16-github.Xresources"
! #include ".xthemes/base16-google"
! #include ".xthemes/base16-google-dark-256.Xresources"
! #include ".xthemes/base16-google.dark.xresources"
! #include ".xthemes/base16-google-dark.Xresources"
! #include ".xthemes/base16-google-light-256.Xresources"
! #include ".xthemes/base16-google-light.Xresources"
! #include ".xthemes/base16-grayscale-dark-256.Xresources"
! #include ".xthemes/base16-grayscale.dark.xresources"
! #include ".xthemes/base16-grayscale-dark.Xresources"
! #include ".xthemes/base16-grayscale-light-256.Xresources"
! #include ".xthemes/base16-grayscale-light.Xresources"
! #include ".xthemes/base16-green-screen-256.Xresources"
! #include ".xthemes/base16-greenscreen-256.Xresources"
! #include ".xthemes/base16-greenscreen.dark.xresources"
! #include ".xthemes/base16-green-screen.Xresources"
! #include ".xthemes/base16-greenscreen.Xresources"
! #include ".xthemes/base16-gruvbox-dark-hard-256.Xresources"
! #include ".xthemes/base16-gruvbox-dark-hard.Xresources"
! #include ".xthemes/base16-gruvbox-dark-medium-256.Xresources"
! #include ".xthemes/base16-gruvbox-dark-medium.Xresources"
! #include ".xthemes/base16-gruvbox-dark-pale-256.Xresources"
! #include ".xthemes/base16-gruvbox-dark-pale.Xresources"
! #include ".xthemes/base16-gruvbox-dark-soft-256.Xresources"
! #include ".xthemes/base16-gruvbox-dark-soft.Xresources"
! #include ".xthemes/base16-gruvbox-light-hard-256.Xresources"
! #include ".xthemes/base16-gruvbox-light-hard.Xresources"
! #include ".xthemes/base16-gruvbox-light-medium-256.Xresources"
! #include ".xthemes/base16-gruvbox-light-medium.Xresources"
! #include ".xthemes/base16-gruvbox-light-soft-256.Xresources"
! #include ".xthemes/base16-gruvbox-light-soft.Xresources"
! #include ".xthemes/base16-harmonic16.dark.xresources"
! #include ".xthemes/base16-harmonic-dark-256.Xresources"
! #include ".xthemes/base16-harmonic-dark.Xresources"
! #include ".xthemes/base16-harmonic-light-256.Xresources"
! #include ".xthemes/base16-harmonic-light.Xresources"
! #include ".xthemes/base16-heetch-256.Xresources"
! #include ".xthemes/base16-heetch-light-256.Xresources"
! #include ".xthemes/base16-heetch-light.Xresources"
! #include ".xthemes/base16-heetch.Xresources"
! #include ".xthemes/base16-helios-256.Xresources"
! #include ".xthemes/base16-helios.Xresources"
! #include ".xthemes/base16-hopscotch-256.Xresources"
! #include ".xthemes/base16-hopscotch.Xresources"
! #include ".xthemes/base16-horizon-dark-256.Xresources"
! #include ".xthemes/base16-horizon-dark.Xresources"
! #include ".xthemes/base16-horizon-light-256.Xresources"
! #include ".xthemes/base16-horizon-light.Xresources"
! #include ".xthemes/base16-horizon-terminal-dark-256.Xresources"
! #include ".xthemes/base16-horizon-terminal-dark.Xresources"
! #include ".xthemes/base16-horizon-terminal-light-256.Xresources"
! #include ".xthemes/base16-horizon-terminal-light.Xresources"
! #include ".xthemes/base16-ia-dark-256.Xresources"
! #include ".xthemes/base16-ia-dark.Xresources"
! #include ".xthemes/base16-ia-light-256.Xresources"
! #include ".xthemes/base16-ia-light.Xresources"
! #include ".xthemes/base16-icy-256.Xresources"
! #include ".xthemes/base16-icy.Xresources"
! #include ".xthemes/base16-irblack-256.Xresources"
! #include ".xthemes/base16-irblack.Xresources"
! #include ".xthemes/base16-isotope-256.Xresources"
! #include ".xthemes/base16-isotope.dark.xresources"
! #include ".xthemes/base16-isotope.Xresources"
! #include ".xthemes/base16-londontube.dark.xresources"
! #include ".xthemes/base16-macintosh-256.Xresources"
! #include ".xthemes/base16-macintosh.Xresources"
! #include ".xthemes/base16-marrakesh-256.Xresources"
! #include ".xthemes/base16-marrakesh.dark.xresources"
! #include ".xthemes/base16-marrakesh.Xresources"
! #include ".xthemes/base16-materia-256.Xresources"
! #include ".xthemes/base16-material-256.Xresources"
! #include ".xthemes/base16-material-darker-256.Xresources"
! #include ".xthemes/base16-material-darker.Xresources"
! #include ".xthemes/base16-material-lighter-256.Xresources"
! #include ".xthemes/base16-material-lighter.Xresources"
! #include ".xthemes/base16-material-palenight-256.Xresources"
! #include ".xthemes/base16-material-palenight.Xresources"
! #include ".xthemes/base16-material-vivid-256.Xresources"
! #include ".xthemes/base16-material-vivid.Xresources"
! #include ".xthemes/base16-material.Xresources"
! #include ".xthemes/base16-materia.Xresources"
! #include ".xthemes/base16-mellow-purple-256.Xresources"
! #include ".xthemes/base16-mellow-purple.Xresources"
! #include ".xthemes/base16-mexico-light-256.Xresources"
! #include ".xthemes/base16-mexico-light.Xresources"
! #include ".xthemes/base16-mocha-256.Xresources"
! #include ".xthemes/base16-mocha.dark.xresources"
! #include ".xthemes/base16-mocha.Xresources"
! #include ".xthemes/base16-monokai-256.Xresources"
! #include ".xthemes/base16-monokai.dark.xresources"
! #include ".xthemes/base16-monokai.Xresources"
! #include ".xthemes/base16-nord-256.Xresources"
! #include ".xthemes/base16-nord.Xresources"
! #include ".xthemes/base16-nova-256.Xresources"
! #include ".xthemes/base16-nova.Xresources"
! #include ".xthemes/base16-ocean-256.Xresources"
! #include ".xthemes/base16-ocean.dark.xresources"
! #include ".xthemes/base16-oceanicnext-256.Xresources"
! #include ".xthemes/base16-oceanicnext.Xresources"
! #include ".xthemes/base16-ocean.Xresources"
! #include ".xthemes/base16-onedark-256.Xresources"
#include ".xthemes/base16-onedark.Xresources"
! #include ".xthemes/base16-one-light-256.Xresources"
! #include ".xthemes/base16-one-light.Xresources"
! #include ".xthemes/base16-outrun-dark-256.Xresources"
! #include ".xthemes/base16-outrun-dark.Xresources"
! #include ".xthemes/base16-papercolor-dark-256.Xresources"
! #include ".xthemes/base16-papercolor-dark.Xresources"
! #include ".xthemes/base16-papercolor-light-256.Xresources"
! #include ".xthemes/base16-papercolor-light.Xresources"
! #include ".xthemes/base16-paraiso-256.Xresources"
! #include ".xthemes/base16-paraiso.dark.xresources"
! #include ".xthemes/base16-paraiso.Xresources"
! #include ".xthemes/base16-phd-256.Xresources"
! #include ".xthemes/base16-phd.Xresources"
! #include ".xthemes/base16-pico-256.Xresources"
! #include ".xthemes/base16-pico.Xresources"
! #include ".xthemes/base16-pop-256.Xresources"
! #include ".xthemes/base16-pop.Xresources"
! #include ".xthemes/base16-porple-256.Xresources"
! #include ".xthemes/base16-porple.Xresources"
! #include ".xthemes/base16-railscasts-256.Xresources"
! #include ".xthemes/base16-railscasts.dark.xresources"
! #include ".xthemes/base16-railscasts.Xresources"
! #include ".xthemes/base16-rebecca-256.Xresources"
! #include ".xthemes/base16-rebecca.Xresources"
! #include ".xthemes/base16-sandcastle-256.Xresources"
! #include ".xthemes/base16-sandcastle.Xresources"
! #include ".xthemes/base16-seti-256.Xresources"
! #include ".xthemes/base16-seti.Xresources"
! #include ".xthemes/base16-shapeshifter-256.Xresources"
! #include ".xthemes/base16-shapeshifter.dark.xresources"
! #include ".xthemes/base16-shapeshifter.Xresources"
! #include ".xthemes/base16-snazzy-256.Xresources"
! #include ".xthemes/base16-snazzy.Xresources"
! #include ".xthemes/base16-solar-flare-256.Xresources"
! #include ".xthemes/base16-solarflare-256.Xresources"
! #include ".xthemes/base16-solar-flare.Xresources"
! #include ".xthemes/base16-solarflare.Xresources"
! #include ".xthemes/base16-solarized-dark-256.Xresources"
! #include ".xthemes/base16-solarized.dark.xresources"
! #include ".xthemes/base16-solarized-dark.Xresources"
! #include ".xthemes/base16-solarized-light-256.Xresources"
! #include ".xthemes/base16-solarized-light.Xresources"
! #include ".xthemes/base16-spacemacs-256.Xresources"
! #include ".xthemes/base16-spacemacs.Xresources"
! #include ".xthemes/base16-summerfruit-dark-256.Xresources"
! #include ".xthemes/base16-summerfruit.dark.xresources"
! #include ".xthemes/base16-summerfruit-dark.Xresources"
! #include ".xthemes/base16-summerfruit-light-256.Xresources"
! #include ".xthemes/base16-summerfruit-light.Xresources"
! #include ".xthemes/base16-synth-midnight-dark-256.Xresources"
! #include ".xthemes/base16-synth-midnight-dark.Xresources"
! #include ".xthemes/base16-tomorrow-256.Xresources"
! #include ".xthemes/base16-tomorrow.dark.xresources"
! #include ".xthemes/base16-tomorrow-night-256.Xresources"
! #include ".xthemes/base16-tomorrow-night-eighties-256.Xresources"
! #include ".xthemes/base16-tomorrow-night-eighties.Xresources"
! #include ".xthemes/base16-tomorrow-night.Xresources"
! #include ".xthemes/base16-tomorrow.Xresources"
! #include ".xthemes/base16-tube-256.Xresources"
! #include ".xthemes/base16-tube.Xresources"
! #include ".xthemes/base16-twilight-256.Xresources"
! #include ".xthemes/base16-twilight.dark.xresources"
! #include ".xthemes/base16-twilight.Xresources"
! #include ".xthemes/base16-unikitty-dark-256.Xresources"
! #include ".xthemes/base16-unikitty-dark.Xresources"
! #include ".xthemes/base16-unikitty-light-256.Xresources"
! #include ".xthemes/base16-unikitty-light.Xresources"
! #include ".xthemes/base16-woodland-256.Xresources"
! #include ".xthemes/base16-woodland.Xresources"
! #include ".xthemes/base16-xcode-dusk-256.Xresources"
! #include ".xthemes/base16-xcode-dusk.Xresources"
! #include ".xthemes/base16-zenburn-256.Xresources"
! #include ".xthemes/base16-zenburn.Xresources"

!*VT100.Translations: #override \
!		<Key>BackSpace: string(0x7f)\n\
!		<Key>Delete:    string("\033[3~")\n\
!		<Key>Home:      string("\033[1~")\n\
!		<Key>End:       string("\033[4~")
!*ttyModes: erase ^?

! XTerm*faceName: Droid Sans Mono for Powerline
XTerm*faceName: Source Code Pro for Powerline
XTerm*boldMode: false
XTerm*colorBDMode: true
XTerm*colorBD: rgb:fc/fc/fc
XTerm*iconHint: /home/josh/.local/share/pixmaps/terminal.xpm
XTerm*selectToClipboard: true
XTerm*metaSendsEscape: true
XTerm*termName: xterm-256color

! XTerm*faceName: Droid Sans Mono for Powerline
UXTerm*faceName: Source Code Pro for Powerline
UXTerm*boldMode: false
UXTerm*colorBDMode: true
UXTerm*colorBD: rgb:fc/fc/fc
UXTerm*iconHint: /home/josh/.local/share/pixmaps/terminal.xpm
UXTerm*selectToClipboard: true
UXTerm*metaSendsEscape: true

rofi.color-enabled: true
rofi.separator-style: solid
rofi.sidebar-mode: false
rofi.bw: 2
rofi.padding: 16
rofi.font: SFNS Display 18
rofi.opacity: 75
rofi.color-normal: base03, base06, base03, base0F, base07
rofi.color-active: base0D, base06, base0D, base0F, base06
rofi.color-urgent: base0D, base06, base0D, base0F, base06
rofi.color-window: base03, base06

yeahconsole*toggleKey: Alt+F1

#include ".Xresources.d/xterm-font-size"
